/* App.css */

/* Body styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

/* Container styles */
.App {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fafafa;
  border-radius: 8px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
/* Heading styles */
h1 {
  padding-top: 10px;
  text-align: left;
  color: #333;
  font-family: "Festive", cursive;
  font-weight: 500;
  font-style: normal;
}

img{
  padding: 5px;
  height: 35px;
  width: 30px;
}

.post {
  max-width: 800px;
  background-color: #f1f1f1;
  padding: 30px;
  border-radius: 10px;
}

/* Like and Dislike button container */
.like-dislike-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Like button styles */
button.like {
  background-color: #add8e6; /* Light blue */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button.like:hover {
  background-color: #4caf50; /* Green */
}

/* Dislike button styles */
button.dislike {
  background-color: #add8e6; /* Light blue */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button.dislike:hover {
  background-color: #f44336; /* Red */
}
